name: Keep Render Alive

on:
  schedule:
    - cron: "*/5 * * * *"   # har 5 minute
  workflow_dispatch:       # manual run option

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: |
          curl -L --max-time 60 https://webchat-y4za.onrender.com/
